#search-pane2 {
    position: relative;
    top:10px;
    bottom: 0;
    left: 20%;
    right: 0;
    height:75px;
    margin: auto;
}

#search-btn2 {
    float:left;
    display:inline-block;
    margin-left:10px;
}

#search-box2 {
    width:500px;
    float:left;
    display:inline-block;
}

#search-results-container {
    position:relative;
    margin-left:10px;
}

#song-info-header{
width:600px;
    
}